//- <!DOCTYPE html>
//- <html>
//- <head>
//- 	<title>{% block title %}Messages{% endblock %}</title>
//-   <link rel="stylesheet" type="text/css" href="styles/main.css">
//- </head>
//- <body>
//-   <section id="content">
//-     {% block content %}
//-       <p>Forgot to add content?</p>
//-     {% endblock %}
//-   </section>
//- </body>
//- </html>

doctype html
html
  head
    title Auctions
    link(rel='stylesheet', href='/dist/assets/styles/main.css')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons",
      rel="stylesheet")
    link(href="http://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css")
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/react-router/0.13.3/ReactRouter.min.js')
  body(id='content')
    block content